@media screen and (min-width:300px) {
    .desktopmenu{
        display: none;
     }
     .desktopnavlinks{display: none;
     }
}
@media screen and (min-width:576px) {
    
}
@media screen and (min-width:768px) {
    .navbtn{
        display: none;
     }
     .conections{
        flex-direction: row;
        text-align: left;
        align-items: center;
    }
    .conectionscontent{
        width: 60%;
        padding-right: 20px;
    }
    .conectionsbanner{
        width: 40%;
    }
}
@media screen and (min-width:992px) {

    .footeraplication{display: block;}
    .footeraplicationmobile{display: none;}
    .footercontainer{display: flex;}
    .footerleftsection{max-width: 500px;}
    .footerscroll{left: auto;}

    .header{height: 800px;}
    .desktopmenu{display: flex;}
    .desktopnavlinks{display: flex;}
    .headerdiscription{max-width: 550px;}
    .conectionscontent{width: 60%;padding-right: 40px;}
    .conectionstitle{margin-bottom: 0;}
}

@media screen and (min-width:1200px) {
    .conectionsbanner{width: 420px;}
    .conectionscontent{width: 600px;}
    .conections{justify-content: space-between;}

    .footercontainer{justify-content: space-between;}
    .column{margin-bottom: 0; margin-left: 20px;}
}
@media screen and (min-width:1400px) {
    .conections{padding: 30px 60px;}
}