*{
    box-sizing: border-box;
}
*::after,*::before{
    box-sizing: border-box;
}
:root{
    --font-archivo:font family:"archivo";
    --font-roboto-m:font family:"roboto-M";
    --font-roboto-r:font family:"roboto-R";
    -primary-color:#E76F51;
    --secondary-color:#F8E1DB;
    --gary:#D2D2D2;
    --dark:#3B3735;
}
body{
    font-family: var(--font-roboto-m);
    background-color:#FAF4F2;
}
.header{
    height: 700px;
    
    background:linear-gradient(rgba(59,55,53,0.5), rgba(59,55,53,0.5)) ,url("../images/header-bg.jpg") no-repeat center  ;
    background-size: cover;
    border-radius:0 0 100px 100px ;

}